<%= link_to '返回费项', book_fee_path(@fee.book_id, @record.fee_id), class:'btn btn-primary' %>
<br><br>
<%= form_for  @record, url: book_fee_fee_record_path(@fee.book_id, @record.fee_id, @record.id) do |f| %>
    <% if @record.errors.any? %>
        <div id="error_explanation">
          <h2>更新数据出现问题</h2>

          <ul>
            <% @record.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field" data-title="收入">
      <%= f.number_field :credit, value: 0, min: 0, max:999999, inputmode:"numeric",:step => '0.01',
                         pattern:"[0-9]*",
                         onfocus: "if(this.value == '0') { this.value = ''; }" ,
                         onblur: "if(this.value == '') { this.value = 0 ; }" %>
    </div>
    <div class="field" data-title="支出">
      <%= f.number_field :quantity, value: 0, min: 0, max: 999999, inputmode: "numeric", :step => '0.01',
                         pattern:"[0-9]*",
                         onfocus: "if(this.value == '0') { this.value = ''; }" ,
                         onblur: "if(this.value == '') { this.value = 0 ; }" %>
    </div>
    <div class="field" data-title="支出">
      <%= f.number_field :pricefeddfdadf, value: 0, min: 0, max: 999999, inputmode: "numeric", :step => '0.01',
                         pattern: "[0-9]*",
                         onfocus: "if(this.value == '0') { this.value = ''; }",
                         onblur: "if(this.value == '') { this.value = 0 ; }" %>
    </div>
    <div class="field" data-title="支出">
      <%= f.number_field :debit, value: 0, min: 0, max: 999999, inputmode: "numeric", :step => '0.01',
                         pattern: "[0-9]*",
                         onfocus: "if(this.value == '0') { this.value = ''; }",
                         onblur: "if(this.value == '') { this.value = 0 ; }" %>
    </div>
    <td data-title="备注"> <%= f.text_area :comment%> </td>

    <div class="actions">
      <%= f.submit '保存', class:'btn btn-primary' %>
    </div>
<% end %>


