<%= form_for @record, url: customer_record_path(@record.customer_id, @record.id) do |f| %>
    <% if @record.errors.any? %>
        <div id="error_explanation">
          <h2>更新数据出现问题</h2>

          <ul>
            <% @record.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col-xs-4" style="text-align:right">
        <%= f.label "应收" %></div>
      <div class="col-xs-4">
        <%= f.number_field :debit %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4" style="text-align:right">
        <%= f.label "已收" %></div>
      <div class="col-xs-4">
        <%= f.number_field :credit %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4" style="text-align:right">
        <%= f.label "坏账" %>
      </div>
      <div class="col-xs-4">
        <%= f.number_field :bad %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4" >
        <%= link_to '返回', customer_path(@record.customer_id), class: 'btn btn-primary' %>
      </div>
      <div class="actions col-xs-4">
        <%= f.submit '保存', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
