<%= form_for(@customer) do |f| %>

  <% if @customer != nil and @customer.errors.any? %>
    <div id="error_explanation">
      <h3>有错误导致不能保存数据：</h3>
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <div class="row">
    <%= f.label '公司名称', class: 'col-xs-4 control-label' %>
    <%# select_tag "people", options_from_collection_for_select(@companies, "id", "name") %>

    <%= f.select :company_id,
                 options_for_select( @companies.all.collect {|p| [ p.name, p.id ] } ),
                 {:include_blank => true},
                 { style: 'font-size:18px' }
    %>
  </div>
  <div class="row">
    <%= f.label '客户名称', class: 'col-xs-4 control-label' %>
    <div class="col-xs-4">
      <%= f.text_field :cname, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <%= f.label '电话号码', class: 'col-xs-4 control-label' %>
    <div class="col-xs-4">
      <%= f.text_field :phone_no, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <div class="col-xs-6">
      <%= f.submit '保存', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

