<% content_for :title, '客户列表' %>
<%= link_to '返回主页', root_path,  class: 'btn btn-primary'  %>
<%= link_to '新建客户', new_customer_path,  class: 'btn btn-primary'  %>
<br>
<br>
<table class="table table-responsive table-striped table-hover table-condensed table-bordered "
       style="border: 2px solid orange">

  <thead>
  <tr>
    <th>应收</th>
    <th>已收</th>
    <th class="hidden-xs hidden-sm">坏账</th>
    <th>未收</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="head_sum"><%= @debit_sum %></td>
    <td class="head_sum"><%= @credit_sum %></td>
    <td class="head_sum hidden-xs hidden-sm"><%= @bad_sum %></td>

    <% if  @credit_sum - @debit_sum + @bad_sum <0 %>
        <td class="head_sum" style="color:red"><%=  @credit_sum - @debit_sum + @bad_sum %></td>
    <% else %>
        <td class="head_sum"><%=  @credit_sum - @debit_sum + @bad_sum %></td>
    <% end %>

  </tr>
  </tbody>
</table>

<table class="table table-responsive table-striped table-hover table-condensed table-bordered ">
  <thead>
  <tr>
    <th>客户</th>
    <th>应收</th>
    <th>已收</th>
    <th class="hidden-xs hidden-sm">坏账</th>
    <th>未收</th>
  </tr>
  </thead>

  <tbody>
  <%
     @customers.each do |rec|
        de = rec.records.sum('debit')
        cr = rec.records.sum('credit')
        bad = rec.records.sum('bad')
        remain = cr - de + bad
  %>
      <tr>
        <td><%= link_to rec.cname , customer_path(rec.id) %></td>
        <td class="numeric"><%= de %></td>
        <td class="numeric"><%= cr %></td>
        <td class="numeric hidden-xs hidden-sm"><%= bad %></td>
        <% if remain<0 %>
            <td class="numeric" style="color:red"><%= remain %></td>
        <% else %>
            <td class="numeric"><%= remain %></td>
        <% end %>
      </tr>
  <% end %>

  </tbody>
</table>
