<% content_for :title, '客户列表' %>

<div class="fixed-box">
  <ol class="breadcrumb">
    <li><%= link_to '主页', root_path %></li>
    <li class="active">客户列表</li>
  </ol>
</div>

<br>

<div class="row">
  <div class="col-xs-3 col-md-1">
    <% if current_tenant.role == 'edit' or current_tenant.role == 'admin' then %>
      <%= link_to '新建客户',
                  new_customer_path(
                    :com_id => @companies.collect(&:id).join(','),
                    :com_name => @companies.collect(&:name).join(',')
                  ),
                  class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="" style="text-align: right">
    <%= link_to('登出', destroy_tenant_session_path, :method => :delete, :class => 'btn btn-primary') %>
  </div>
</div>
<br>

<div class="table sumTable">
  <div class="theader ">
    <div class="table_header">公司</div>
    <div class="table_header">总应收</div>
    <div class="table_header">总已收</div>
    <div class="table_header">总坏账</div>
    <div class="table_header">总未收</div>
  </div>


  <% @customer_total.each do |rec|
    #assing values to credit debit and bad test if they are nil

    cr = rec.credit.nil? ? 0 : rec.credit
    de = rec.debit.nil? ? 0 : rec.debit
    bad = rec.bad.nil? ? 0 : rec.bad
  %>
    <div class="table_row">
      <div class='table_small'>
        <div class='table_cell'>公司</div>
        <div class="table_cell" data-title="公司"><%= rec.name %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>应收</div>
        <div class="table_cell" data-title="应收"><%= de.round(2) %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>已收</div>
        <div class="table_cell" data-title="已收"><%= cr.round(2) %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>坏账</div>
        <div class="table_cell" data-title="坏账"><%= bad.round(2) %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>未收</div>
        <div class="table_cell" data-title="未收" <% if cr - de + bad < 0%> style="color:red" <% end %> ><%= (cr - de + bad).round(2) %></div>
      </div>
    </div>
  <% end %>


</div>

<div class="table listTable">
  <div class="theader">
    <div class="table_header">公司</div>
    <div class="table_header">客户</div>
    <div class="table_header">应收</div>
    <div class="table_header">已收</div>
    <div class="table_header">坏账</div>
    <div class="table_header">未收</div>
  </div>


  <%
    @customer_group.each do |rec|
      cr = rec.credit.nil? ? 0 : rec.credit
      de = rec.debit.nil? ? 0 : rec.debit
      bad = rec.bad.nil? ? 0 : rec.bad
      remain = cr - de + bad
  %>
    <div class="table_row">
      <div class='table_small'>
        <div class='table_cell'>公司</div>
        <div class="table_cell" data-title="公司"><%= rec.name %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>客户</div>
        <div class="table_cell" data-title="客户"><%= link_to rec.id.to_s+"."+rec.cname, customer_path(rec.id) %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>应收</div>
        <div class="table_cell numeric" data-title="应收"><%= de.to_f.round(2) %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>已收</div>
        <div class="table_cell numeric" data-title="已收"><%= cr.to_f.round(2) %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>坏账</div>
        <div class="table_cell numeric" data-title="坏账"><%= bad.to_f.round(2) %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>未收</div>
        <div class="table_cell numeric" data-title="未收" <% if remain < 0 %> style="color:red" <% end %> ><%= remain.to_f.round(2) %></div>
      </div>
    </div>
  <% end %>

</div>
