<div class="fixed-box">
  <ol class="breadcrumb">
    <li><%= link_to '主页', root_path %></li>
    <li><%= link_to '客户列表', customers_path %></li>
    <li class="active"><%= @customer.cname %></li>
  </ol>
</div>

<% content_for :title, @customer.cname + '收支信息' %>

<!--如果不是管理员不显示编辑栏-->
<% if current_tenant.role == 'edit' or current_tenant.role == 'admin' then %>
  <div class="divTable">
    <%= form_for([@customer, @customer.records.build]) do |f| %>
      <div id="sandbox-container" class="numeric" data-title="日期">
        <label for="date_input">日期:</label>
        <%= f.text_field :updated_at, 'data-provide' => 'datepicker',
                         value: (Time.now.strftime('%Y') > session[:current_year]) ? session[:current_year] + '/12/31' : Time.now.strftime('%Y/%m/%d'),
                         style: ' width:90%;',
                         id: 'date_input'
        %>
        <script>
            $(document).ready(function () {
                $('#sandbox-container input').datepicker({
                    format: "yyyy/mm/dd",
                    language: "zh-CN",
                    todayHighlight: true
                });
            });
        </script>
      </div>
      <div id="debitdiv" class="numeric" data-title="应收">
        <label for="debit_input">应收:</label>

        <%= f.number_field :debit, value: 0, min: 0, max: 999999, inputmode: "numeric", :step => '0.01',
                           pattern: "[0-9]*",
                           id: 'debit_input',
                           style: ' width:90%;',
                           class: 'amount_input',
                           onfocus: "if(this.value == '0') { this.value = ''; }",
                           onblur: "if(this.value == '') { this.value = 0 ; }" %>
      </div>
      <div class="numeric" data-title="已收">
        <label for="credit_input">已收:</label>
        <%= f.number_field :credit, value: 0, min: 0, max: 999999, inputmode: "numeric",
                           :step => '0.01',
                           pattern: "[0-9]*",
                           id: 'credit_input',
                           style: ' width:90%;',
                           class: 'amount_input',
                           onfocus: "if(this.value == '0') { this.value = ''; }",
                           onblur: "if(this.value == '') { this.value = 0 ; }" %>
      </div>
      <div class="numeric" data-title="坏账">
        <label for="bad_input">坏收:</label>
        <%= f.number_field :bad, value: 0, min: 0, max: 999999, inputmode: "numeric",
                           :step => '0.01',
                           pattern: "[0-9]*",
                           id: 'bad_input',
                           style: ' width:90%;',
                           class: 'amount_input',
                           onfocus: "if(this.value == '0') { this.value = ''; }",
                           onblur: "if(this.value == '') { this.value = 0 ; }" %>
      </div>
      <div class="numeric" data-title="备注">
        <label for="comment_input">备注:</label>
        <%= f.text_field :comment, id: 'comment_input', style: ' width:90%;' %>
      </div>
      <div class=""> <%= f.submit '保存新记录', class: 'btn btn-primary btn-sm btn-block btn-submit' %></div>
    <% end %>
  </div>
<% end %>

<br>

<div class="table sumTable">
  <div class="theader">
    <div class="table_header">客户名称</div>
    <div class="table_header">总应收</div>
    <div class="table_header">总已收</div>
    <div class="table_header">总坏账</div>
    <div class="table_header">总未收</div>
  </div>
  <div class="table_row">
    <div class='table_small'>
      <div class='table_cell'>客户名称</div>
      <div class="table_cell head_sum" data-title="客户名称"><%= @customer.id.to_s+"."+@customer.cname %></div>
    </div>
    <div class='table_small'>
      <div class='table_cell sumTable'>总应收</div>
      <div class="table_cell head_sum" data-title="应收"><%= @debit_sum %></div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>总已收</div>
      <div class="table_cell head_sum" data-title="已收"><%= @credit_sum %></div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>总坏账</div>
      <div class="table_cell head_sum" data-title="坏账"><%= @bad_sum %></div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>总未收</div>
      <% if @remain_sum < 0 %>
        <div class="table_cell head_sum" style="color:red" data-title="未收"><%= @remain_sum %></div>
      <% else %>
        <div class="table_cell head_sum" data-title="未收"><%= @remain_sum %></div>
      <% end %>
    </div>
  </div>
</div>



<div class="table listTable">
  <div class="theader">
    <div class="table_header">日期</div>
    <div class="table_header">应收</div>
    <div class="table_header">已收</div>
    <div class="table_header">坏账</div>
    <div class="table_header">未收</div>
    <div class="table_header">备注</div>
    <% if current_tenant.role == 'edit' or current_tenant.role == 'admin' then %>
      <div class="table_header"></div>
      <div class="table_header"></div>
    <% end %>
  </div>


  <% @records.each do |record|
    remain = (record.credit.to_f - record.debit.to_f + record.bad.to_f).round(2)
  %>
    <div class="table_row">
      <div class='table_small'>
        <div class='table_cell'>日期</div>
        <div class="table_cell" data-title="日期"><%= record.updated_at.strftime("%Y/%m/%d") %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>应收</div>
        <div class="table_cell numeric" data-title="应收"><%= record.debit %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>已收</div>
        <div class="table_cell numeric" data-title="已收"><%= record.credit %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>坏账</div>
        <div class="table_cell numeric" data-title="坏账"><%= record.bad %></div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>未收</div>
        <% if remain < 0 %>
          <div class="table_cell numeric" style="color:#ff0000" data-title="未收"><%= remain %></div>
        <% else %>
          <div class="table_cell numeric" data-title="未收"><%= remain %></div>
        <% end %>
      </div>
      <div class='table_small'>
        <div class='table_cell'>备注</div>
        <div class="table_cell" style="text-align: left; padding-left: 15px" data-title="备注">
          <%= (!record.comment.nil? and !record.comment.blank?) ? record.comment : ' 无 ' %>
        </div>
      </div>

      <% if current_tenant.role == 'edit' or current_tenant.role == 'admin' then %>
        <div class='table_small'>
          <div class='table_cell'></div>
          <div class="table_cell"><%= link_to '编辑', edit_customer_record_path(record.customer_id, record) %></div>
        </div>
        <div class='table_small'>
          <div class='table_cell'></div>
          <div class="table_cell">
            <%= link_to '删除', customer_record_path(record.customer, record), method: :delete, data: { confirm: '确定删除吗？' } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>

<br/><br/>
<div class="table">
  <% if current_tenant.role == 'edit' or current_tenant.role == 'admin' then %>
    <div class="row">
      <div class="col-xs-6">
        <%= link_to '编辑客户信息', edit_customer_path %>
      </div>
  <% end %>
  <% if current_tenant.role == 'admin' then %>

    <div class="col-xs-6">
      <%= link_to '删除客户', customer_path, method: :delete, data: { confirm: '确定删除客户吗？将清除所有的信息' } %>
    </div>
    </div>

  <% end %>
</div>