<% content_for :title, @book.book_name %>


<div class="fixed-box">
  <ol class="breadcrumb">
    <li><%= link_to '主页', root_path %></li>
    <li class="active"> <%= @book.book_name %></li>
  </ol>
</div>

<br>

<div class="row">
  <% if current_tenant.role == 'admin' or current_tenant.role == 'edit' then %>
    <div class="col-xs-3 col-md-1">
      <%= link_to '新建费项', new_book_fee_path(@book), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="col-xs-3 col-md-1">
    <%= link_to '月报', book_monthly_report_path(@book), class: 'btn btn-primary' %>
  </div>
</div>
<br>

<script type="text/javascript" charset="utf-8">
    $(function () {
        new Highcharts.Chart({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                renderTo: "orders_chart"
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            title: {
                text: "支出费项分布图"
            },

            tooltip: {
                valueSuffix: ' 元'
            },


            series: [{
                name: '支出',
                colorByPoint: true,
                data: <%=
                group_by_fee_no_nil = @group_by_fee.reject { |o| o.debit.nil? }
                raw group_by_fee_no_nil.map { |o| [o.fee_name, o.debit ] }.compact.to_s
                 %>

            }]
        });
    });
</script>
<div id="orders_chart"></div>


<div class="table sumTable">
  <div class="theader">
    <div class="table_header">总收入</div>
    <div class="table_header">总支出</div>
    <div class="table_header">总余额</div>
  </div>
  <div class="table_row">
    <div class='table_small'>
      <div class='table_cell'>总收入</div>
      <div class="table_cell head_sum" ><%= @credit_sum.to_f.round(2) %></div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>总支出</div>
      <div class="table_cell head_sum" ><%= @debit_sum.to_f.round(2) %></div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>总余额</div>
      <div class="table_cell head_sum" <% if @credit_sum - @debit_sum < 0%> style="color:red" <% end %> >
        <%= (@credit_sum - @debit_sum).to_f.round(2) %>
      </div>
    </div>
  </div>
</div>

<div class="table listTable">
  <div class="theader">
    <div class="table_header">费项</div>
    <div class="table_header">收入</div>
    <div class="table_header">支出</div>
  </div>
  <%
    @group_by_fee.each do |rec|
      de = rec.debit.to_f.round(2)
      cr = rec.credit.to_f.round(2)
      #cr = rec.fee_records.where('left(fee_records.updated_at,4) =?', session[:current_year]).sum('credit')
  %>
  <div class="table_row">
    <div class='table_small'>
      <div class='table_cell'>费项</div>
      <div class="table_cell"><%= link_to rec.fee_name, book_fee_path(rec.book_id, rec.id) %></div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>收入</div>
      <div class="table_cell numeric"><%= cr %></div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>支出</div>
      <div class="table_cell numeric"><%= de %></div>
    </div>
  </div>
  <% end %>

</div>


<% if current_tenant.role == 'admin' then %>
  <%= link_to '删除账本', book_path, method: :delete, data: { confirm: '确定删除吗？将清除该账本所有信息！！' } %>
<% end %>




