<% content_for :title, @book.book_name %>


<div class="fixed-box">
  <ol class="breadcrumb">
    <li><%= link_to '主页', root_path %></li>
    <li class="active"> <%= @book.book_name %></li>
  </ol>
</div>

<br>

<div class="row">
  <div class="col-xs-3 col-md-1">
    <%= link_to '新建费项', new_book_fee_path(@book), class: 'btn btn-primary' %>
  </div>
  <div class="col-xs-3 col-md-1">
    <%= link_to '月报', book_monthly_report_path(@book), class: 'btn btn-primary' %>
  </div>
</div>
<br>

<script type="text/javascript" charset="utf-8">
    $(function () {
        new Highcharts.Chart({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                renderTo: "orders_chart"
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            title: {
                text: "支出费项分布图"
            },

            tooltip: {
                valueSuffix: ' 元'
            },


            series: [{
                name: '支出',
                colorByPoint: true,
                data: <%=
                group_by_fee_no_nil = @group_by_fee.reject { |o| o.debit.nil? }
                raw group_by_fee_no_nil.map { |o| [o.fee_name, o.debit ] }.compact.to_s
                 %>

            }]
        });
    });
</script>
<div id="orders_chart"></div>


<table class="table table-responsive table-striped table-hover table-condensed table-bordered " style="border: 2px solid orange">
  <thead>
  <tr class="sumTable">
    <th>总收入</th>
    <th>总支出</th>
    <th>总余额</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="head_sum" data-title="总收入"><%= @credit_sum.to_f.round(2) %></td>
    <td class="head_sum" data-title="总支出"><%= @debit_sum.to_f.round(2) %></td>
    <td class="head_sum" data-title="总余额"><%= (@credit_sum - @debit_sum).to_f.round(2) %></td>
  </tr>
  </tbody>
</table>

<table class="table table-responsive table-striped table-hover table-condensed table-bordered ">
  <thead>
  <tr>
    <th>费项</th>
    <th>收入</th>
    <th>支出</th>
  </tr>
  </thead>

  <tbody>
  <%
     @group_by_fee.each do |rec|
       de = rec.debit.to_f.round(2)
       cr = rec.credit.to_f.round(2)
       #cr = rec.fee_records.where('left(fee_records.updated_at,4) =?', session[:current_year]).sum('credit')
  %>
      <tr>
        <td data-title="费项"><%= link_to rec.fee_name, book_fee_path(rec.book_id, rec.id) %></td>
        <td class="numeric" data-title="收入"><%= cr %></td>
        <td class="numeric" data-title="支出"><%= de %></td>
      </tr>
  <% end %>

  </tbody>
</table>
<br><br>
<%# = link_to '删除账本', book_path, method: :delete, data: {confirm: '确定删除吗？将清除该账本所有信息！！'} %>




