<% content_for :title, @fee.fee_name+'月报' %>

<div class="fixed-box">
  <ol class="breadcrumb">
    <li><%= link_to '主页', root_path %></li>
    <li><%= link_to @fee.fee_name, book_fee_path(@book, @fee) %></li>
    <li class="active"> <%= @fee.fee_name+'月报' %></li>
  </ol>
</div>

<br>
<br>
<div id="no-more-tables">
  <table class="table table-responsive table-striped table-hover table-condensed table-bordered " style="border: 2px solid orange">
    <thead>
    <tr>
      <th>费项</th>
      <th>收入</th>
      <th>支出</th>
      <th>余额</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="head_sum" data-title="费项"><%= @fee.fee_name %></td>
      <td class="head_sum" data-title="收入"><%= @credit_sum.round(2) %></td>
      <td class="head_sum" data-title="支出"><%= @debit_sum.round(2) %></td>
      <td class="head_sum" data-title="余额"><%= (@credit_sum-@debit_sum).round(2) %></td>
    </tr>

    </tbody>
  </table>

  <table class="table table-responsive table-striped table-hover table-condensed table-bordered ">
    <thead>
    <tr>
      <th>月份</th>
      <th>收入</th>
      <th>支出</th>
    </tr>
    </thead>

    <tbody>
    <% @groupby_month.each do |record| %>
        <tr>
          <td class="numeric" data-title="月份">
            <%= record.month.to_s+"月" %>
          </td>
          <td class="numeric" data-title="收入"><%= record.credit.to_f.round(2) %></td>
          <td class="numeric" data-title="支出"><%= record.debit.to_f.round(2) %></td>

        </tr>
    <% end %>

    </tbody>
  </table>

</div>



