<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<% if (params[:controller] == 'customer' and params[:action]) == 'show' %>
    <body data-no-turbolink="true">
<% else %>
    <body data-no-turbolink="false">
<% end %>
<div id="main-container" class="container">
  <% if tenant_signed_in? %>
      <%= link_to('登出', destroy_tenant_session_path, :method => :delete, :class => 'btn btn-primary') %>
        <br><br>
      <%= form_for :welcome , :url => {:controller => :welcome, :action =>'set_current_year'} ,
                   :html => {:id=>'year_form', :method => "post"} do | f | %>
          <label style="font-size:18px">年份：</label>
          <%= f.select :year,
                       options_for_select(['2015','2016'],session[:current_year]),
                       {},
                       {style:'font-size:18px', onchange: "this.form.submit()"}
          %>

      <% end %>
  <% end %>



  <h2><%= yield(:title) %></h2>
  <%= notice %>
  <%= alert %><br>
  <%= yield %>
</div>
</body>
</html>
