<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

</head>

<body data-no-turbolink="false">

<div id="main-container" class="container">
  <div class="notice"><%= notice %></div><div class="alert1"><%= alert %></div>
  
  <%= yield %>
</div>


</body>

</html>
